
<div class="container">
  <section class="container-main">
    <p class="container-main-description">Maravilhe-se com as descobertas e compartilhe-as com amigos e familiares. Compare nomes, períodos e veja como as escolhas evoluíram ao longo do tempo. </p>
    <h1 class="container-main-title">Nomes no Tempo  Exploração Interativa</h1>

    <button class="container-main-button" (click)="redirectUrl()">Explore Now</button>

  </section>

  <section class="container-image">
    <img src="assets/search.png" alt="Imagem de uma pessoa pesquisando algo">
  </section>

  
</div>
