
img{
  width: 90vh;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;

  &-main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: 20em;
    max-width: 40em;

    &-description{
      color: var(--cor-description);
      font-size: var(--size-description);
      font-weight: var(--weight-description);
      font-family: var(--family-all);
      line-height: var(--lineHeight-description);
      text-align: justify;
      letter-spacing: 0.15em;
    }

    &-title{
      text-align: center;
      color: var(--cor-title);
      font-size: var(--size-title);
      font-weight: var(--weight-title);
      font-family: var(--family-all);
      line-height: var(--lineHeight-title);
      letter-spacing: 0.1em;
    }

    &-button{
      text-align: center;
      min-width: 100px;
      width: 100%;
      color: white;
      font-size: var(--size-button);
      font-weight: var(--weight-button);
      font-family: var(--family-all);
      background-color: var(--cor-button);
      padding: 0.5em;
      transition: 0.08s;

      &:hover{
        cursor: pointer;
        background-color: #ee4c4c;
      }

    }
  }

  &-image{
    min-width: 15px;
    max-width: 48em;
  }


}

@media screen and (max-width: 1200px){
  .container{
    display: flex;
    flex-direction: column;
  }

  .container-main{
    margin-top: 1.8em;
    min-width: 1em;
  }
  .container-main-description{
    display: none;
  }

  .container-image{
    img{
      min-width: 250px;
      width: 400px;
    }

  }




}


@media screen and (max-width: 520px){
  .container{
    justify-content: center;
    gap: 2.5em;
  }
  .container-main-title{


    font-size: 1.0rem;
    min-width: 60%;
    max-width: 80%;
  }
  .container-main{
    gap: 0.5em;
    width: 300px;
    align-items: center;
  }
  .container-main-button{
    font-size: 1rem;
    min-width: 60%;
    max-width: 80%;
  }
  img{
    width: 50px;
  }

  .container-image{
    img{
      min-width: 50px;
      width: 300px;
    }

  }




}
